/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-blue: #3D63AC;
    --color-green: #428A2F;
    --color-yellow: #B09E3D;
    --color-light-blue: #E4E9F3;
    --color-light-green: #E5EFE2;
    --color-light-yellow: #F4F1E4;
    --color-black: #000000;
    --color-dark: #141414;
    --color-white: #FFFFFF;
}